<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToDedicatedServer" value="C:\Program Files\Epic Games\UE_4.24\Engine\Binaries\Win64\UE4Editor.exe"/>
    <add key="ServerArguments" value="&quot;C:\Users\Testserver\Documents\Unreal Projects\shl2\OpenWorldStarter.uproject&quot; {0}?listen -server -log -nosteam -messaging -port={1}"/>
    <add key="APIKey" value="C4CE4036-1AD7-41D9-BFF1-A26AD4F03FF1"/>
    <add key="ListenOn" value="http://localhost:8181/RPGWorldServer"/>
    <add key="APIPath" value="http://rpgwebapi.sabredartstudios.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>